<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pivot Table</title>
    <link rel="stylesheet" href="/Users/hivinpolat/Desktop/ebgTask/static/styles.css">
</head>
<body>
    <h1>Pivot Table</h1>
    <div id="pivot-table">
        <div class="pivot-table-item" draggable="true">Item 1</div>
        <div class="pivot-table-item" draggable="true">Item 2</div>
    </div>
    <button id="add-item">Add Item</button>
    <script src="/Users/hivinpolat/Desktop/ebgTask/static/scripts.js"></script>
</body>
</html>
